.site-header {
  height: 3.25rem;

  p,
  a {
    font-size: 15px;

    @media (max-width: $desktopSmall) {
      margin: 0.5rem 0;
    }
  }

  .inner-header__container {
    height: 3.25rem;
    display: flex;
    background-color: white;
    border-bottom: 1px solid $lightgrey;

    @include customPadding;

    .site-branding {
      flex: 1;
      display: flex;
      align-items: center;

      .custom-logo-link {
        display: inline-block;
        height: 100%;
        margin: 0;

        img {
          min-width: 125px;
          max-width: 200px;
        }
      }
    }

    .site-title {
      padding: 1rem 0;
    }

    .main-navigation {
      display: flex;

      @media (max-width: $desktopSmall) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
      }

      .nav-menu {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        height: 100%;
        align-items: center;

        @media (max-width: $desktopSmall) {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          height: auto;
          left: 0;
          right: 0;
          width: 100%;
          background-color: white;
          border: 1px solid #e2e2e2;
          z-index: 9999;
          padding: 2rem;
          transition: opacity 300ms ease-in-out;
          align-items: flex-start;
        }

        .menu-item {
          margin: 0 1rem;
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover > a {
            opacity: 0.4;
          }

          a {
            border-bottom: 1px solid transparent;

            &:focus {
              outline: 1px dotted $black;
            }
          }

          @media (max-width: $desktopSmall) {
            align-items: flex-start;
          }
        }
      }

      #open-search-bar {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &:focus {
          outline: 1px dotted $black;
        }
      }

      svg {
        pointer-events: none;
      }
    }

    // Toggle for Smaller Screen Menu and Search bar
    #site-navigation.toggled .nav-menu {
      display: flex;
      flex-direction: column;
      visibility: visible;
      opacity: 1;
      @media (min-width: $desktopSmall) {
        display: none;
      }
    }
  }

  // Header Search Bar
  .header-search-widget__container {
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .header-widget-area {
      width: 100%;
      margin-top: -1px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: white;
      visibility: hidden;
      display: flex;
      opacity: 0;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #e2e2e2;
      border-bottom: 1px solid $lightgrey;
      transition: opacity 300ms ease-in-out;

      &.is-active {
        visibility: visible;
        opacity: 1;
      }

      .search-form {
        width: 100%;
        margin: 0.5rem auto;
        text-align: center;

        .search-field {
          -webkit-appearance: none;
          border: 0;
          border-bottom: 1px solid $lightgrey;
          background-color: white;
          padding: 0.5rem;
          font-weight: 100;
          font-size: 0.75rem;
          width: 35%;
          transition: border-color 350ms ease;

          &:focus {
            outline: 0;
            border-bottom: 1px solid $darkblue;
          }
        }

        .search-submit {
          padding: 0.5rem 1.5rem;
          border-radius: 50px;
          border: 1px solid white;
          color: white;
          background-color: $lightblue;
          cursor: pointer;
          font-weight: 100;
          font-size: 0.8rem;

          &:hover {
            outline: 0;
            background-color: white;
            color: $darkblue;
            border: 1px solid $darkblue;
          }

          &:focus {
            outline: 0;
            background-color: white;
            color: $darkblue;
            border: 1px solid $darkblue;
          }

          @media (max-width: $mobileLarge) {
            padding: 0.25rem 1rem;
          }
        }
      }
    }
  }
}

.site-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.menu-toggle {
  display: none;
  height: 3rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 1px dotted $black;
  }

  &:hover {
    opacity: 0.4;
  }

  @media (max-width: $desktopSmall) {
    display: flex;
  }
}

.current-menu-item > a {
  border-bottom: 1px solid $lightblue !important;
}

.site-header *:focus {
  outline: 1px dotted $black;
}

// Accessible Dropdown menu

.menu-item-has-children > a {
  display: flex;
  align-items: center;
}

.menu-item-has-children {
  position: relative;
  margin-right: 0 !important;

  @media (max-width: $desktopSmall) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:hover {
    .sub-menu {
      display: flex;
    }
  }
}

ul.sub-menu {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #e2e2e2;
  border-top: 1px solid white;
  z-index: 9999;
  flex-direction: column;

  @media (max-width: $desktopSmall) {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0 !important;
    border: 0;
  }
}

.sub-menu .menu-item {
  padding: 0.5rem 0;
}

.sub-menu.sub-menu__open {
  display: flex;
}

.menu-item-has-children > .drop-down-btn {
  display: flex;

  @media (max-width: $desktopSmall) {
    // Hide for small screen menu
    display: none;
  }
}
