.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  p,
  a {
    font-size: 15px;
  }

  .inner-header__container {
    display: flex;
    padding: 0rem 3rem;
    background-color: white;
    border-bottom: 1px solid $lightgrey;

    .site-branding {
      flex: 1;
      display: flex;
      align-items: center;

      .custom-logo-link {
        display: inline-block;

        img {
          width: 208px;
          min-width: 208px;
        }
      }
    }

    .site-title {
      padding: 1rem 0;
      a {
        color: $black;
      }
    }

    .main-navigation {
      display: flex;

      @media (max-width: $desktopSmall) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
      }

      .nav-menu {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        height: 100%;
        align-items: center;

        @media screen and (max-width: 768px) {
          justify-content: flex-start;
          padding: 1rem 4rem 1rem 0rem;
        }

        @media (max-width: $desktopSmall) {
          display: none;
          position: absolute;
          top: 111px;
          left: 0;
          right: 0;
          width: 100%;
          background-color: white;
          border: 1px solid #e2e2e2;
          z-index: 9999;
        }

        // Display on menu toggle for small screens
        &.menu-active {
          display: flex;
          flex-direction: column;
          @media (min-width: $desktopSmall) {
            display: none;
          }
        }

        .menu-item {
          margin: 0 1rem;
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;

          &:hover > a {
            opacity: 0.4;
          }

          a {
            color: $black;
            border-bottom: 1px solid transparent;

            &:focus {
              outline: 1px dotted $black;
            }
          }
        }
      }

      #open-search-bar {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        &:focus {
          outline: 1px dotted $black;
        }
      }

      svg {
        pointer-events: none;
      }
    }
  }

  // Header Search Bar
  .header-search-widget__container {
    display: flex;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    .header-widget-area {
      width: 100%;
      margin-top: -1px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: white;
      display: none;
      opacity: 0;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #e2e2e2;
      border-bottom: 1px solid $lightgrey;
      transition: opacity 100ms ease-in-out;

      &.is-active {
        display: flex;
        opacity: 1;
      }

      .search-form {
        width: 100%;
        margin: 0.5rem auto;
        text-align: center;

        .search-field {
          -webkit-appearance: none;
          border: 0;
          border-bottom: 1px solid $lightgrey;
          background-color: white;
          padding: 0.5rem;
          font-weight: 100;
          font-size: 0.75rem;
          width: 35%;
          transition: border-color 350ms ease;

          &:focus {
            outline: 0;
            border-bottom: 1px solid $darkblue;
          }
        }

        .search-submit {
          padding: 0.5rem 1.5rem;
          border-radius: 0;
          border: 1px solid white;
          color: white;
          background-color: $darkblue;
          cursor: pointer;
          font-weight: 100;
          font-size: 0.8rem;

          &:focus {
            outline: 0;
            background-color: white;
            color: $darkblue;
            border: 1px solid $darkblue;
          }
        }
      }
    }
  }
}

.menu-toggle {
  display: none;
  height: 3rem;
  width: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: 1px dotted $black;
  }

  &:hover {
    opacity: 0.4;
  }

  @media (max-width: $desktopSmall) {
    display: flex;
  }
}

.current_page_item {
  a {
    border-bottom: 1px solid $lightblue !important;
  }
}

.site-header *:focus {
  outline: 1px dotted $black;
}

// Accessible Dropdown menu

.menu-item-has-children > a {
  display: flex;
  align-items: center;
}

.menu-item-has-children {
  position: relative;

  &:hover {
    .sub-menu {
      display: flex;
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #e2e2e2;
}

.sub-menu.sub-menu__open {
  display: flex;
}

.menu-item-has-children > a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  margin-left: 0.5rem;
}
