// Font Sizes and Styles
//
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

// Global Font Size
html {
  font-size: 16px;
  font-family: $fontMain, 'Arial', 'Helvetica', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: $h1, 'Arial', 'Helvetica', sans-serif;
  color: $darkblue;
  letter-spacing: 1px;
  line-height: 1.35;

  // @media (min-width: $desktopLarge) {
  //   font-size: 3rem;
  // }
}

h2 {
  font-size: 2rem;
  font-family: $h2, 'Arial', 'Helvetica', sans-serif;
  color: $darkblue;
  letter-spacing: 1px;
  line-height: 1.35;
  margin-bottom: 2rem;

  @media (max-width: $mobileLarge) {
    font-size: 1.75rem;
  }
}

h2 {
  &:after {
    content: '';
    height: 1px;
    width: 5rem;
    display: block;
    background-color: $darkblue;
    margin-top: 2rem;
  }
}

h2.no-decor,
h3.no-decor {
  &:after {
    display: none;
  }
}

h3 {
  font-size: 1.75rem;
  font-family: $h2, 'Arial', 'Helvetica', sans-serif;
  font-weight: 100;
  color: $darkblue;
  letter-spacing: 1px;
  line-height: 1.35;

  margin-bottom: 2rem;

  @media (max-width: $mobileLarge) {
    font-size: 1.25rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-family: $h2, 'Arial', 'Helvetica', sans-serif;
  color: $darkblue;
  letter-spacing: 1px;
  line-height: 1.35;
}

p {
  font-size: 1.15rem;
  font-weight: 100;
  font-family: $bodyCopy, 'Arial', 'Helvetica', sans-serif;
  color: $darkblue;
  letter-spacing: 0.5px;
  line-height: 1.35;
  margin: 1rem 0 2rem 0;

  @media (max-width: $mobileLarge) {
    font-size: 1rem;
  }
}

p.emphasis {
  font-style: italic;
}

a {
  font-size: 1rem;
  font-weight: 100;
  font-family: $bodyCopy, 'Arial', 'Helvetica', sans-serif;
  color: $darkblue;
  letter-spacing: 0.5px;
  line-height: 1.35;
  text-decoration: none;
}

sup {
  font-size: 0.75rem;
}

.uppercase {
  text-transform: uppercase;
}

.has-light-blue-color {
  color: $lightblue;
}
