// Font Sizes and Styles
//
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

// Global Font Size
html {
  font-size: 16px;
  font-family: $fontMain, 'Arial', 'Helvetica', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: $h1, 'Arial', 'Helvetica', sans-serif;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.35;

  @media (min-width: $desktopLarge) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  font-family: $h2, 'Arial', 'Helvetica', sans-serif;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.35;

  @media (max-width: $mobileLarge) {
  }
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-family: $h3, 'Arial', 'Helvetica', sans-serif;
  color: #000000;
  letter-spacing: 1px;
  line-height: 1.35;
}

p {
  font-size: 1.15rem;
  font-family: $bodyCopy, 'Arial', 'Helvetica', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 1.35;
  font-weight: 100;
}

p.emphasis {
  font-size: 1.15rem;
  font-family: $bodyCopy, 'Arial', 'Helvetica', sans-serif;
  font-style: italic;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 1.35;
}

span {
  font-size: 1.15rem;
  letter-spacing: 0.5px;
  line-height: 1.35;
}

a {
  font-size: 1rem;
  font-family: $h3, 'Arial', 'Helvetica', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  line-height: 1.35;
  text-decoration: none;
}

sup {
  font-size: 0.75rem;
}

.uppercase {
  text-transform: uppercase;
}
