.half-screen-hero__container {
  position: relative;
  height: 75vh;
  width: 100%;

  .half-screen-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .half-screen-hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
  }

  .half-screen-hero__inner-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100%;
    z-index: 99;

    h1 {
      color: white;
    }

    .half-screen-hero__column-one {
      display: flex;
      align-items: center;
    }
    .half-screen-hero__column-two {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 225px;
        margin: 2rem;
      }
    }
  }
}

.template__hero-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;

  .sidebar--jump-links__container {
    position: -webkit-sticky;
    position: sticky;
    top: 52px;
    padding: 3rem;
    white-space: nowrap;
    height: calc(100vh - 52px);
    border-right: 1px solid $lightgrey;

    .hst_sidebar-header {
      text-decoration: underline;
      margin-bottom: 0.5rem;
    }
  }
}

.template__hero-sidebar.no-sidebar {
  grid-template-columns: 1fr;
}
