.single-news-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 75vh;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
  }

  a {
    text-decoration: none;
  }

  section {
    article.news {
      @include customPadding;
      margin-top: 4rem;
      border-left: 1px solid $lightgrey;

      display: flex;
      flex-direction: column;

      @media (max-width: $tablet) {
        border: 0;
      }

      h1 {
        font-size: 2rem;

        &:after {
          content: '';
          height: 1px;
          width: 5rem;
          display: block;
          background-color: $darkblue;
          margin-top: 2rem;
        }
      }

      .post-thumbnail {
        float: left;
        margin-right: 2rem;

        @media (max-width: $desktopSmall) {
          float: none;
          clear: both;
        }

        img {
          max-width: 325px;
        }
      }

      .entry-content {
        a {
          border-radius: 50px;
          padding: 0.25rem 0.75rem;
          border: 1px solid;
          white-space: nowrap;
          color: $darkblue;
          background-color: white;
          border-color: $darkblue;
          text-decoration: none;

          &:hover {
            background-color: $darkblue;
            border-color: $darkblue;
            color: white;
          }
        }
      }
    }
  }

  aside {
    margin-top: 4rem;
    padding: 0rem 3rem;

    @media (max-width: $tablet) {
      margin-top: 2rem;
      border-bottom: 1px solid $lightgrey;
      padding-bottom: 2rem;
    }

    h4 {
      padding: 0.45rem 0;
      margin-bottom: 1rem;
      text-decoration: underline;
    }

    .post-navigation {
      @media (max-width: $mobileLarge) {
        display: flex;
      }
      .nav-previous {
        margin-bottom: 1rem;
      }

      .nav-subtitle {
        font-weight: 400;
      }
    }
  }
}

.nav-previous:hover .nav-title {
  color: $lightblue;
}

.nav-next:hover .nav-title {
  color: $lightblue;
}
