.wp-block-advgb-columns + .wp-block-advgb-columns {
  @include customMargin;
}

// For blocks with solid color background
.has-solid-background > .advgb-columns-container {
  padding: 3rem 0;
}

.wp-block-advgb-columns.advgb-columns-wrapper {
  @include customPadding;

  .advgb-columns-container {
    height: 100%;
  }
}

.wp-block-advgb-columns.advgb-columns-wrapper.has-solid-background {
  background-color: $darkblue;
  border: none;
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    color: white;
  }
}

.wp-block-advgb-columns.advgb-columns-wrapper.has-solid-background h2:after {
  background-color: white;
}

// Block style for sidebar template
.template__hero-sidebar.no-sidebar
  .wp-block-advgb-columns.advgb-columns-wrapper {
  @include customPadding;
}
.template__hero-sidebar .wp-block-advgb-columns.advgb-columns-wrapper {
  @include customPaddingSidebar;
}
