// Breakpoint screen size for Media Queries
$mobileSmall: 345px;
$mobileMed: 420px;
$mobileLarge: 500px;
$tabletSmall: 675px;
$tablet: 768px;
$desktopSmall: 925px;
$desktopMed: 1200px;
$desktopLarge: 1440px;
