$paddingXLargeWide: 0rem 12rem;
$paddingLargeWide: 0rem 6rem;
$paddingMedWide: 0rem 3rem;
$paddingSmallWide: 0rem 1rem;

// For Sidebar
$paddingXLarge: 0rem 6rem;
$paddingLarge: 0rem 3rem;
$paddingMed: 0rem 2rem;
$paddingSmall: 0rem 1rem;
