// Fonts
// $font__main--semibold: 'moriston_personalsemibold';
// $font__main--reg: 'moriston_personal_regularRg';
// $font__main--med: 'moriston_personalmedium';

$fontMain: 'Roboto';
$h1: 'Noto Sans';
$h2: 'Roboto';
$h3: 'Noto Sans';
$bodyCopy: 'Roboto';
