// Coming Soon
.full-screen-hero__container {
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .full-screen-hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .full-screen-hero__text-container {
    padding-left: 15%;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobileLarge) {
      padding-left: 0;
      margin: 0 auto;
    }

    .full-screen-hero__icon-container {
      max-width: 65%;
    }

    .full-screen-hero__heading {
      white-space: nowrap;
      margin: 2rem 0;
      font-size: 1.75rem;

      @media (max-width: $mobileLarge) {
        white-space: normal;
        font-size: 1.5rem;
      }
    }
    .full-screen-hero__text {
      white-space: nowrap;
      font-weight: 400;
      font-size: 1rem;

      @media (max-width: $mobileLarge) {
        white-space: normal;
      }

      a {
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  * {
    position: relative;
    z-index: 1;
  }
}
