// Global Padding Mixin
@mixin customPadding {
  padding: $paddingLargeWide;

  @media (min-width: $desktopXLarge) {
    padding: $paddingXLargeWide;
  }

  @media (max-width: $tablet) {
    padding: $paddingMedWide;
  }
  @media (max-width: $mobileMed) {
    padding: $paddingSmallWide;
  }
}
@mixin customPaddingSidebar {
  padding: $paddingLarge;

  @media (min-width: $desktopXLarge) {
    padding: $paddingXLarge;
  }

  @media (max-width: $tablet) {
    padding: $paddingMed;
  }
  @media (max-width: $mobileMed) {
    padding: $paddingSmall;
  }
}

@mixin customMargin {
  margin: $marginXLarge;

  @media (max-width: $desktopLarge) {
    margin: $marginLarge;
  }

  @media (max-width: $tablet) {
    margin: $marginMed;
  }
}
