// Global Padding Mixin
@mixin customPadding {
  padding: $paddingLargeWide;

  @media (max-width: $tablet) {
    padding: $paddingMedWide;
  }
  @media (max-width: $mobileMed) {
    padding: $paddingSmallWide;
  }
}
@mixin customPaddingSidebar {
  padding: $paddingLarge;

  @media (max-width: $tablet) {
    padding: $paddingMed;
  }
  @media (max-width: $mobileMed) {
    padding: $paddingSmall;
  }
}

@mixin customMargin {
  margin: $marginLarge;

  @media (max-width: $tablet) {
    margin: $marginMed;
  }
}
